.application {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}

.options {
  background-color: #C4C4C4;
  min-width: 20%;
  min-height: 100%;
  border-radius: 40px;
}

.board {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.board .cell {
  flex: 0 0 0;
  max-height: 30px;
  min-height: 30px;
  max-width: 30px;
  min-width: 30px;
  border-radius: 5px;
  background-color: lightblue;
  margin: 10px 10px;
}

.start_cell {
  background-color:lightgreen !important; 
}

.end_cell {
  background-color:lightcoral !important; 
}

.wall_cell {
  background-color:lightseagreen !important; 
}